body{
  margin:0;
  text-align:center;
}
.profile{
  width:175px;
    margin-bottom:20px;
    border-radius: 50%;
}
.line{
    height:7px;
    background-color:#000;
    width:70px;
    margin:50px auto;
    margin-top: 25;
    
}

#home{
      background:linear-gradient(#60ebeb 0%, #27ae60 100%);
      color:black;
}
.links:hover{
    background-color:#FFD180;
}
.menu{
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top:10px;
    right:10px;
  z-index:10px;
    cursor: pointer;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none; 
}
p{
    font-size:17px;
        margin:25px auto;
    line-height:1.3; 
}
.links{
   
    float:left;
    color:#FFFF;
    padding-top:9px;
    padding-left: 9px;
     padding-right: 9px;
     padding-bottom: 5px;
    font-family:fantasy;
    font-size:20px;
}

#video{
  background: linear-gradient(to bottom, #99ccff 0%, #ffff66 100%);
}
#inspiration{
     background: linear-gradient(to bottom, #ff3399 0%, #66ff99 100%);
}
#img2{
    transition:transform.2s;
    border: 10px solid #E57373 ;
    height:400px;
    width:350px;
}
#dance_teacher{
    transition:transform.2s;
    border: 10px solid #E57373 ;
    height:400px;
    width:350px;
}
h1{
    font-size: 27px;
}
#contact{
        background: linear-gradient(to bottom, #ffffcc 0%, #ff66ff 100%);
}












